.footer {
    background-color: #232323;
    padding: 20px 0;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  
  .branding {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
  }
  
  .gymLogo {
    filter: brightness(0) invert(1); /* Makes logo white for visibility on dark background */
  }
  
  .contactInfo,
  .socialMedia {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .linkItem {
    color: #ffffff;
    text-decoration: none;
    margin: 5px 0;
    transition: 0.3s;
  }
  
  .linkItem:hover {
    opacity: 0.7;
  }
  
  .disclaimer {
    margin-top: 20px;
    font-size: 0.8rem;
  }
  